<% include header.ejs %>
    <body>
    <h1><%= title %></h1>
    <div id="nickname"></div>
    <div id="room"></div>
    <div id ="mainContainer">
            <div id="canvasBlock">
                <canvas id="mainCanvas" width="900" height="500" style="top:2%;left:10%;border:2px solid;"></canvas>
                <article><!-- our canvas will be inserted here--></article>
                <script>
                    var colorCode="black";
                    var c = document.getElementById("mainCanvas");
                    var ctx = c.getContext("2d");
                    var prevX, prevY, currX, currY;
                    var model ="dot";
                    var doPoint;
                    var flag = false;

                    socket.on('beginDraw',function(_model, _color, _x, _y){
                        doPoint = true;
                        flag=true;
                        prevX = _x;
                        prevY = _y;
                        ctx.beginPath();
                        ctx.strokeStyle = _color;
                    });

                    socket.on('moveDraw',function(_model, _color, _x, _y){
                        doPoint = false;

                        if(flag){
                            currX = _x;
                            currY = _y;
                            ctx.strokeStyle = _color;
                            //ctx.moveTo(prevX, prevY);
                            ctx.lineTo(currX, currY);
                            ctx.stroke();
                        }

                    });

                    socket.on('endDraw',function(_model, _color, _x, _y) {
                        if(doPoint){
                            currX = _x;
                            currY = _y;
                            ctx.fillStyle = _color;
                            ctx.fillRect(currX, currY, 3, 3);
                            ctx.closePath();
                        }
                        flag=false;
                    });

                    $("#mainCanvas").on('mousedown',function(e){
                        socket.emit('downCanvas', e.pageX, e.pageY, model);
                       socket.emit("broadcastBeginDraw", model, colorCode , e.pageX, e.pageY);
                    });

                    $('#mainCanvas').on('mousemove', function(e){
                        socket.emit('moveCanvas', e.pageX, e.pageY);
                        socket.emit("broadcastMoveDraw", model, colorCode , e.pageX, e.pageY);
                    });

                    $('#mainCanvas').on('mouseup', function(e){
                        socket.emit('upCanvas', e.pageX, e.pageY);
                        socket.emit("broadcastEndDraw", model, colorCode , e.pageX, e.pageY);
                    });

                    $("#nickname" ).html( "Welcome <span style='color:" + color + ";'>" + nickname + "</span>" );


                    socket.on('leave', function(message) {
                        $('#room').text(message);
                    })
                </script>
                <br>
            </div>
            <div id="canvasTool">
                <p>Actions</p>
                <div id="actions"></div>
                <script>
                    socket.on('actions', function(actions) {
                        $('#actions').append(actions);
                    })
                </script>
                <p>Colors :</p>
                <div style="background:green;" class="colorBlock" id="green"></div>
                <div style="background:blue;" class="colorBlock" id="blue"></div>
                <div style="background:red;" class="colorBlock" id="red"></div>
                <div style="background:yellow;" class="colorBlock" id="yellow"></div>
                <div style="background:orange;" class="colorBlock" id="orange"></div>
                <div style="background:black;" class="colorBlock" id="black"></div>
                <div style="background:white;" class="colorBlock" id="white"></div>
                <script>
                    $(".colorBlock").on('click', function(){
                        colorCode = this.id;
                        socket.emit("changeColor", this.id);
                    });
                </script>
                <br><br>
                <hr>
                <p>Models :</p>
                <canvas id="dot" width="100" height="100" onclick="line()"></canvas>
                <script>
                    var c=document.getElementById("dot");
                    var ctx=c.getContext("2d");
                    ctx.beginPath();
                    ctx.arc(50,50,3,0,2*Math.PI);
                    ctx.stroke();

                    $("#dot").on('click', function(){
                        model="dot";
                    });


                </script>

                <canvas id="circle" width="100" height="100" onclick="circle()"></canvas>
                <script>
                    var c=document.getElementById("circle");
                    var ctx=c.getContext("2d");
                    ctx.beginPath();
                    ctx.arc(50,50,40,0,2*Math.PI);
                    ctx.stroke();

                    $("#circle").on('click', function(){
                        model="circle";
                    });
                </script>

                <canvas id="square" width="100" height="100" onclick="square()"></canvas>
                <script>
                    var c=document.getElementById("square");
                    var ctx=c.getContext("2d");
                    ctx.beginPath();
                    ctx.rect(15, 20, 65, 65);
                    ctx.fillStyle = 'white';
                    ctx.fill();
                    ctx.lineWidth = 1;
                    ctx.stroke();

                    $("#square").on('click', function(){
                        model="square";
                    });
                </script>
            </div>
        </div>
    </body>
<% include footer.ejs %>